*{
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
section.account_section {
    align-items: baseline;
    padding-top: 100px;
}
.account_manege{
    width: 30%;
}
.profile_details h5{
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: #DB4444;
    margin-bottom: 30px;
}
.top_list h6, .bottom_list h6{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.account_items {
    padding: 10px 0 15px 25px;
}
.account_list{
    list-style-type: none;
}
.account_list a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #808080;
}
.account_profile{
    width: 70%;
}
.fname{
    width: 330px;
    height: 50px;
    margin-bottom: 15px;
    padding-left: 10px;
    background-color: #F5F5F5;
    border-radius: 4px;
    border: none;
    outline: none;
}

.form_container {
    display: flex;
    align-items: center;
    gap: 40px;
}

.name_detail,.email_detail {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 10px;
}
.mail{
    margin-bottom: 10px;
    display: block;
}
.pass{
    width: 710px;
    height: 50px;
    margin-bottom: 20px;
    padding-left: 10px;
    background-color: #F5F5F5;
    border-radius: 4px;
    border: none;
    outline: none;
}
.submit_detail {
    width: 710px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 25px;
}
.submit_detail a{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
    color: #000;
}

.form_btn{
    width: 214px;
    height: 56px;
    background-color: #DB4444;
    color: #fff;
    display: block;
    border-radius: 4px;
    border: none;
    outline: none;
}